<!DOCTYPE html>
<html class="no-js" lang="en" old-ng-app="ngResource" ng-app="app"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Foundation 4</title>
    <link rel="stylesheet" href="lib/foundation/css/foundation.css" />
    <script src="lib/foundation/js/vendor/modernizr.js"></script>

	<script type="text/javascript" src="https://emea.salesforce.com/canvas/sdk/js/29.0/canvas-all.js"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.js"></script>

	<script src="js/productsearchctrl.js"></script>
</head>


	
<body  class="body">

		
	<!-- HEADER NAV -->
	<div class="row">
	    <div class="panel large-12 columns" >
	      	<div class="small-9 columns">
	      		<h5>{[{contact.Name}]}</h5>
	        </div>
	        <div class="small-3 columns">
	        	<a href="http://localhost:8983/solr/#/collection1"><img src="http://lucene.apache.org/images/solr.png" style="height:50px"/></a>
	        </div>
	      </div>
	</div>
  
	<div class="row">
	
		<!-- LEFT THIRD -->
	    <div class="large-3 small-3 columns ">
	      <div class="panel">
	      	<h5>Order</h5>
	       <a href="#"><img src="/img/sim-card.jpg" /></a>
 			
          <ul class="side-nav" ng-repeat="sel in selected" style="line-height:1; padding:0; margin-top: 5px;">
		        <li>
		        	<div class="row collapse">
				        <div class="small-9 columns">
			        	<a ng-click="rmSelected($index);">{[{sel.Name}]}</a>
			        	</div>
			        	<div class="small-3 columns">
			        	<input style="float: right; " type="text"></input>
			        	</div>
		        	</div>
		        </li>
			</ul>
			<button ng-click="insertSFDC()" style="width: 100%; margin-top: 5px;">Place Order</button>

	      </div>
	      
	      <div class="panel">
	      	<h5>Contract</h5>
	        <a href="#"><img src="/img/contract.jpg" /></a>
 

					<button ng-click="insertSFDC()" style="width: 100%; margin-top: 5px;">Configure</button>

	      </div>	      
	    </div>

	    <div class="large-9 small-9 columns " >
		    <dl class="tabs" >
			  <dd class="active"><a href="#/">Products</a></dd>
			  <dd><a href="#/packages">Packages</a></dd>
			  <dd><a href="#panel2-3">Offers</a></dd>
			  <dd><a href="#panel2-4">Account</a></dd>
			</dl>
			<div class="tabs-content" ng-view>
			 	 
			</div>
	    </div>
	    
		
		
	</div>

 	<!--
	<div class="row">
		<div class="large-8 columns">

			<h3>ADMIN ONLY. Update Solr with Latest Accounts</h3>
			
			  <div class="row collapse">
			  	<button ng-click="getSFDCAccs()">Update Solr</button>
			  	<small ng-show="showerror" ng-class="error">{errorStr}</small>
			  </div>


			
			<h3>Manually Add Data From any Other Systems</h3>
			

			<div class="row">
				<div class="large-12 columns">
									  
					
					  <div class="row">
					    <div class="large-6 columns">
					      <div class="row collapse">
					        <div class="small-10 columns">
					          <input type="text" ng-model="acc.id" placeholder="Account ID">
					        </div>
					        <div class="small-2 columns">
					          <span class="prefix">id</a>
					        </div>
					      </div>
					    </div>
					    <div class="large-6 columns">
					      <div class="row collapse">
					        <div class="small-8 columns">
					          <input type="text" ng-model="acc.name" placeholder="Account Name">
					        </div>
					        <div class="small-4 columns">
					          <span class="prefix">name</a>
					        </div>
					      </div>
					    </div>
					    <div class="large-6 columns">
					      <div class="row collapse">
					        <div class="small-6 columns">
					          <input type="text" ng-model="acc.type_s" placeholder="Account Type">
					        </div>
					        <div class="small-6 columns">
					          <span class="postfix radius">type_s</span>
					        </div>
					      </div>
					    </div>
					    <div class="large-6 columns">
					      <div class="row collapse">
					        <div class="small-6 columns">
					          <input type="text" ng-model="acc.billingstate_s" placeholder="Account BillingState">
					        </div>
					        <div class="small-6 columns">
					          <span class="postfix radius">billingstate_s</span>
					        </div>
					      </div>
					    </div>
					  </div>
					  
					
					  <div class="row collapse">
					  	<button ng-click="add(acc)">Add</button>
					  	
					  	<small ng-show="showerror" ng-class="error">{errorStr}</small>
					  </div>
				
				</div>
			</div>
			
		

		</div>
	</div>
	
	-->

	<script>
   		/*  load the 'ngResource' module in your application by adding it as a dependent module 
   		 *  ngResource INCLUDED IN THE BOOTSTRAP INSTREAD 
   		angular.module('app', ['ngResource']);
   		*/
   		
   		angular.module('app', ['ngResource', 'ngRoute']).config(function($interpolateProvider) {
	        	$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
	        }).config(['$routeProvider', function($routeProvider){
		        $routeProvider.
			      when('/', {
			        templateUrl: 'partials/productsearch.html',
			   		controller: 'searchCtrl'
			      }).
			      when('/packages', {
			        templateUrl: 'partials/packages.html'
			      }).
			      otherwise({
			        redirectTo: '/phones'
			      });
	    	}]).filter('split', function() {
			    return function(input, delimiter) {
			      var delimiter = delimiter || ',';
			
			      return input.split(delimiter);
			    } 
			  }).filter('sfnametolabel', function() {
			    return function(input) {
			    	try {
			      	return input.replace ('__c', '').replace(/_/g, ' ');
			      } catch (e) {
			      	return 'NO VALUE*';
			      }
			    } 
			  }).run(function($rootScope, $location) {
	   		
				// Paste the signed request string into a JavaScript object for easy access.
				console.log ('got from handlebar template : {{title}}');
				console.log ('got from handlebar template : ' + '{{{signedreq}}}');
								
				try {
								
					var sr = JSON.parse('{{{signedreq}}}');
					// set instanceUrl for links to salesforce objects
					$rootScope.instanceUrl = sr.client.instanceUrl;
					$rootScope.access_token = sr.client.oauthToken;
					$rootScope.targetOrigin = sr.client.targetOrigin;
	
					// lookup the client the order is for
					var clientid = sr.context.environment.parameters.id;
					var client_url = sr.context.links.sobjectUrl + 'Contact/' + clientid + '/';
					Sfdc.canvas.client.ajax(
						client_url, 
					    {client : sr.client,
					    success : function(data){
						    // Make sure the status code is OK.
						    $rootScope.$apply(function(){
							    console.log ("response  "   + data.payload.Name);
							    $rootScope.contact = data.payload;
							    });
						  }});
				
				
				/***********************
// Reference the Chatter user's URL from Context.Links object.
var queryContactsUrl = sr.context.links.queryUrl + '?q=SELECT+id,name,title,email,phone,MailingStreet,MailingCity,Codes__c,MailingPostalCode,MailingState+from+Contact';

$scope.getSFDCAccs = function() {
	// Make an XHR call back to salesforce through the supplied browser proxy. 
	console.log('call salesforce: ' + queryContactsUrl);
	Sfdc.canvas.client.ajax(queryContactsUrl, 
	    {client : sr.client,
	    success : function(data){
	    // Make sure the status code is OK.
	    console.log ("response  "   + JSON.stringify(data));
	    if (data.status === 200) {

	        console.log ("Updating  "  + data.payload.totalSize + 
	        " Contacts into Solr"); // Returned 2 users

	        var pushtosolr = new Array();
	        for (var i = 0; i < data.payload.totalSize; i++) {
	        	var sfdcobj = data.payload.records[i];
	        	console.log (JSON.stringify (sfdcobj));
	        	var code_json = [];
	        	//if (sfdcobj.Codes__c != null) {
	        	//	code_json = sfdcobj.Codes__c.split(',');
	        	//}
	        	if (sfdcobj.Codes__c != null) {
	        		sfdcobj.Codes__c.split(',').forEach(function(c, i) {
	        			var v1 = c.trim();
	        			if (v1 != '') code_json.push (v1);
	        		});
	        	}


	        	var solrobj = {
		        	'id': sfdcobj.Id,
		        	'Name_s' : sfdcobj.Name,
		        	'Title_s': sfdcobj.Title,
		        	'Codes_ss' : code_json,
		        	'CV_Details_s' : sfdcobj.CV_Details__c,
		        	'MailingStreet_s': sfdcobj.MailingStreet,
		        	'MailingCity_s': sfdcobj.MailingCity,
		        	'MailingState_s': sfdcobj.MailingState,
		        	'MailingPostalCode_s': sfdcobj.MailingPostalCode,
		        	'Phone_s': sfdcobj.Phone,
		        	'Email_s': sfdcobj.Email};
        		pushtosolr.push (solrobj);
	        }
	        $scope.add(pushtosolr);
	    }
	}});
}
*********************************************************************/
} catch (e) { 
	console.log ('no Signed Request'); 
	$rootScope.instanceUrl = "https://eu2.salesforce.com";
}
});
	</script>

    <script src="lib/foundation/js/vendor/jquery.js"></script>
    <script src="lib/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

</body>
</html>